REACT_EDITOR=code
NEXT_PUBLIC_IS_DEV=true
NEXT_PUBLIC_CLUSTER_ENDPOINT=https://solana-mainnet.rpc.extrnode.com

#Private Keys (DO NOT SHARE THOSE!!!)
# https://docs.google.com/spreadsheets/d/SPREADSHEET_ID/edit#gid=xxxxxxxxxx
# Contains the id of the index spreadsheet if the app is used by many shops
INDEX_SPREADSHEET_ID=
# Contains the id of the shop spreadsheet if the app is used by only one shop
SHOP_SPREADSHEET_ID=
# https://console.cloud.google.com/apis/credentials?project=fims-353613
GOOGLE_API_KEY=

# https://firebase.google.com/docs/web/setup
FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_APP_ID=