@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --writing-light-color: rgb(217, 119, 6);
    --main-from-light-color: rgb(255, 247, 237);
    --main-to-light-color: rgb(254, 215, 170);
    --popup-light-color: rgb(241, 245, 249);
    --active-light-color: rgb(253, 186, 116);
    --secondary-light-color: rgb(132, 204, 22);
    --secondary-active-light-color: rgb(163, 230, 53);

    --writing-dark-color: rgb(250, 204, 21);
    --main-from-dark-color: rgb(101, 163, 13);
    --main-to-dark-color: rgb(20, 83, 45);
    --popup-dark-color: rgb(113, 63, 18);
    --active-dark-color: rgb(132, 204, 22);
    --secondary-dark-color: rgb(253, 186, 116);
    --secondary-active-dark-color: rgb(249, 115, 22);
}