@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 217, 121, 6;
    --background-start-rgb: 254, 215, 170;
    --background-end-rgb: 255, 247, 237;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 217, 121, 6;
        --background-start-rgb: 254, 215, 170;
        --background-end-rgb: 255, 247, 237;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(45deg, rgb(var(--background-end-rgb)), rgb(var(--background-start-rgb)));
}
